<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/jszip.min.js")"></script>


    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2017.1.223/kendo.common.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2017.1.223/kendo.default.min.css")" />

    <link href="@Url.Content("~/Content/kendo/2017.1.223/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.timezones.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/cultures/kendo.culture.ru-RU.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/cultures/kendo.culture.ka-GE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.1.223/messages/kendo.messages.ru-RU.min.js")"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cinema</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
